@font-face {
  font-family: "liontype";
  src: url(../fonts/HELVETICANEUELTGEO-45LIGHTS.ttf);
}
@font-face {
  font-family: "liontype_light";
  src: url(../fonts/HELVETICA-NEUE-LT-GEO-75-BOLD.ttf);
}

body {
  background-color: #0020f4;
  font-family: "liontype_light";
}
/* this is header */
header {
  max-width: 1475px;
  width: 100%;
  padding: 27px 36px;
  margin: auto;
}
.logo {
  width: 115px;
  max-width: 100%;
  vertical-align: middle;
}
nav {
  display: inline-block;
  vertical-align: middle;
}

nav li {
  display: inline-block;
  vertical-align: middle;
}
header li a {
  color: #ffffff;
  font-size: 16px;
  margin: 43px;
}
.contact {
  background-color: #ffffff;
  width: 160px;
  height: 55px;
  border-radius: 28px;
}
.contact a {
  color: #171717;
  position: absolute;
  margin-top: 20px;
  font-family: "liontype";
}

.big_photo {
  position: absolute;
  top: 215px;
  left: 972px;
  width: 948px;
  border-radius: 15px;
}
.more_little_photo {
  position: absolute;
  top: 280px;
  left: 240px;
  width: 707px;
}

.saitis_tetri_nawili {
  width: 100%;
  height: 1500px;
  margin-top: 963px;
  background-color: white;
}
.chvens_shesaxeb_textebis_divi {
  position: absolute;
  top: 1260px;
  left: 240px;
  width: 463px;
  height: 604px;
}
.cvens_shesaxeb_texsti {
  font-weight: 600;
  width: 197px;
  font-size: 29px;
  font-family: "liontype";
}
.cvens_shesaxeb_didi_texsti {
  padding-top: 98px;
  width: 463px;
  height: 385px;
  line-height: 20px;
}

.cvens_shesaxeb_didi_texsti_nawili_2 {
  width: 463px;
  height: 99px;
  margin-top: 109px;
  line-height: 20px;
}

.lurji_texsti {
  font-weight: normal;
  color: #0a22f4;
}

.fotos_lurji_foni {
  position: absolute;
  top: 1490px;
  left: 850px;
  width: 707px;
  height: 707px;
  background-color: #0a22f4;
  border-radius: 15px;
  opacity: 1;
}

.chvens_shesaxeb_foto {
  position: absolute;
  top: 1480px;
  left: 840px;
  width: 707px;
  height: 707px;
  border-radius: 15px;
  opacity: 1;
}
.services {
  background-color: white;
  display: inline-block;
  width: 100%;
}
.services img {
  width: 707px;
  float: left;
  margin: 20px;
  margin-top: 200px;
  margin-left: 250px;
  border-top: 15px solid blue;
  border-left: 15px solid blue;
  border-radius: 15px;
}
.services h2 {
  font-size: 32px;
  color: #171717;
  font-weight: bold;
  font-family: "liontype";
  text-align: left;
  padding-left: 1095px;
}
.text {
  font-size: 16px;
  color: #171717;
  margin-top: 60px;
  margin-left: 118px;
  font-family: "liontype";
  width: 463px;

  display: inline-block;
}

::-webkit-scrollbar {
  display: none;
}

div h2 {
  color: #ffffff;
  padding-top: 70px;
  padding-bottom: 80px;
  padding-left: 240px;
}

.lastBLUE {
  background-color: rgba(0, 32, 244, 1);
  max-width: 100%;
}

article {
  display: inline-block;
  width: 25%;
  margin: 0 5px;
  position: relative;
}

article p {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 15px;
  bottom: 2.5%;
  left: 0;
  width: 100%;
  position: absolute;
}
.conteiner {
  max-width: 100%;
  width: 1920px;
  padding: 0 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  background-color: #ffffff;
  width: 100%;
}

.bolo {
  padding-top: 70px;
  text-align: right;
  padding-right: 256px;
  padding-bottom: 100px;
}
